@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
:root {
  --green: rgb(9 190 139);
  --shadowGreen: 0px 16px 32px rgba(9, 190, 139, 0.32),
    0px 8px 24px rgba(9, 190, 139, 0.24), 0px 3px 8px rgba(9, 190, 139, 0.16),
    0px 0px 1px rgba(9, 190, 139, 0.08);
  --white: rgb(255 255 255);
  --primary: rgb(47 6 187);
  --shadowPrimary: 0px 16px 32px rgba(47, 6, 187, 0.32),
    0px 8px 24px rgba(47, 6, 187, 0.24), 0px 3px 8px rgba(47, 6, 187, 0.16),
    0px 0px 1px rgba(47, 6, 187, 0.08);
  --black: #1a1b26;
  --greenHover:0px 23px 45px 2px  rgb(9 190 139);
  --primaryHover:0px 23px 45px 2px  rgb(47 6 187);
  ;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.heading{
  margin: 32px auto;
  font-weight: 900;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -3px;
  font-family: "Red Hat Display", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding: 150px 0;

}
button {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
}
.green--btn {
  background-color: var(--green);
  box-shadow: var(--shadowGreen);

}
.primary--btn {
  background-color: var(--primary);
  box-shadow: var(--shadowPrimary);
}
.green--btn:hover{
  box-shadow: var(--greenHover);
  transition: all 0.3s;
}
.primary--btn:hover{
  box-shadow: var(--primaryHover);
  transition: all 0.3s;
}
.btn--link {
  color: var(--white);
}
.btn--link i {
  font-size: 20px;
}
.green--text {
  color: var(--green);
  font-weight: 600;
}
.primary--text {
  color: var(--primary);
  font-weight: 600;
}
.grey--text {
  color: var(--white);
  opacity: 0.5;
}

.center {
  margin: 0 auto;
  display: flex;
}


@media screen and (max-width:1460px){
  .container{
      width: 90%;
  }
  .row{
    justify-content: center;
  }
}
@media screen and (max-width:760px){
  .heading{
    font-size: 50px;
    margin: 16px auto;
  }
}